<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BrugerSide</title>
</head>
<body>
<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div th:insert="fragments/sidebarBruger :: sidebarBruger"></div>

    <div id="wrapper">
<div class="container">

    <h1>Høstergaard Smørrebrød</h1>
    <h3>Menu</h3>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Vare</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menu: ${menu}">
            <td th:text="${menu.itemNavn}"/>
            <td th:text="${menu.itemPris}"/>

        </tr>
        </tbody>
    </table>
    </div>
</div>


<!--<label> Fornavn </label>-->
<!--<input type="text" name="fornavn" th:value="${bruger.fornavn}" id="fornavn">-->
<!--<br>-->

<!--<label> Efternavn </label>-->
<!--<input type="text" name="efternavn" th:value="${bruger.efternavn}" id="efternavn">-->
<!--<br>-->

<!--<label> Adresse </label>-->
<!--<input type="text" name="adresse" th:value="${bruger.adresse}" id="adresse">-->
<!--<br>-->

<!--<label> Telefon </label>-->
<!--<input type="number" name="telefon" th:value="${bruger.telefon}" id="telefon">-->
<!--<br>-->

<!--<label> Email </label>-->
<!--<input type="email" name="email" th:value="${bruger.email}" id="email">-->
<!--<br>-->

</body>
</html>