<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Bruger</title>

    <style>

        #opretBruger{

            float: left;
        }

        #opretBruger label{

            margin: 10px;
        }

        #opretBruger input{

            margin-top: 10px;
            margin-left: 30px;
            padding: 10px;
            display: block;
        }

        #wrapper{
            margin-left: 40px;
        }
        #submitbutton{
            width: 150px;
            padding: 10px;
            background-color: #4CAF50;

        }

    </style>
</head>
<body>
<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<div id="wrapper">


<h1>Opret bruger </h1>
    <h3>Alle felter skal udfyldes </h3>
<section>
    <form method="post" th:action="@{/opretBruger}" id="opretBruger">


        <label> Brugernavn </label>
        <input type="text" name="brugernavn" placeholder="brugernavn" id="brugernavn" th:field="${bruger.brugernavn}">
        <br>

        <label> Password </label>
        <input type="password" name="password" placeholder="password" id="password" th:field="${bruger.password}">
        <br>

        <label> Fornavn </label>
        <input type="text" name="fornavn" placeholder="Fornavn" id="fornavn" th:field="${bruger.fornavn}">
        <br>

        <label> Efternavn </label>
        <input type="text" name="efternavn" placeholder="Efternavn" id="efternavn" th:field="${bruger.efternavn}">
        <br>

        <label> Adresse </label>
        <input type="text" name="adresse" placeholder="Adresse" id="adresse" th:field="${bruger.adresse}">
        <br>

        <label> Telefon </label>
        <input type="number" name="telefon" placeholder="Telefon" id="telefon" th:field="${bruger.telefon}">
        <br>

        <label> Email </label>
        <input type="email" name="email" placeholder="Email" id="email" th:field="${bruger.email}">
        <br>

        <input id="submitbutton" type="submit" value="Opret Bruger" >
        <br>

    </form>
</section>
</div>
</body>
</html>